<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
body{
  margin: 50px;
}
</style><title>TaskManager</title>
</head>
<body>
<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li th:if="${loggedUser==project.owner}"><a href="/projects">My Projects</a></li>
		<li><a th:href="'/projects/' + ${project.id}" th:text="'Project ' + ${project.name}"></a></li>
		<li th:if="${loggedUser!=project.owner}"><a href="/sharedWithMe">Visible Projects</a></li>
		<li><a th:href="'/projects/' + ${project.id} + '/task/' + ${task.id}" th:text="'Task ' + ${task.name}"></a></li>
		<li>Add Tag</li>
	</ul>
	<h1>All Tags</h1>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Color</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tag : ${tagsList}">
					<td th:text="${tag.name}"></td>
					<td th:text="${tag.description}"></td>
					<td th:text="${tag.color}"></td>
					<td>
						<form method="POST"
							th:action="@{/projects/{projectId}/task/{taskId}/{tagId}/add(projectId=${project.id}, taskId=${task.id}, tagId=${tag.id})}">
							<button type="submit" name="submit" value="value" class="btn btn-info">ADD</button>
						</form>
					</td>
					<td>
						<form method="POST"
							th:action="@{/projects/{projectId}/task/{taskId}/{tagId}/remove(projectId=${project.id}, taskId=${task.id}, tagId=${tag.id})}">
							<button type="submit" name="submit" value="value" class="btn btn-info">REMOVE</button>
						</form>
					</td>
			</tbody>
		</table>
	</div>
</body>
</html>