<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
body{
  margin: 50px;
}
</style>
<title>TaskManager</title>
</head>
<body>
	<h1>All Users</h1>
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="credentials : ${credentialsList}">
					<td th:text="${credentials.username}"></td>
					<td th:text="${credentials.user.firstName}"></td>
					<td th:text="${credentials.user.lastName}"></td>
					<td>
						<form method="POST"
							th:action="@{/admin/users/{username}/delete(username=${credentials.username})}">
							<!-- <button type="submit" name="submit" value="value">DELETE</button> -->
							<button type="submit" class="btn btn-info">
				      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				      <p style="margin-bottom: 0px; display: inline-block;"> Delete</p>
				</button>
						</form>
					</td>
			</tbody>
		</table>
	</div>
</body>
</html>