<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	margin: 50px;
}

td {
	font-size: 25px;
}

button {
	width: 100px;
}

</style>
<title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li><a href="/projects">My Projects</a></li>
		<li><a th:href="'/projects/' + ${project.id}"
			th:text="'Project ' + ${project.name}"></a></li>
		<li>Share Project</li>
	</ul>
	<h1>All Users</h1>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="credentials : ${credentialsList}">
					<td width="15%" th:text="${credentials.username}"></td>
					<td width="15%" th:text="${credentials.user.firstName}"></td>
					<td width="65%" th:text="${credentials.user.lastName}"></td>
					<td width="5%" th:if="${!project.members.contains(credentials.user)}">
						<form method="POST"
							th:action="@{/projects/{projectId}/{userId}/share(projectId=${project.id}, userId=${credentials.user.id})}">
							<!-- <button type="submit" name="submit" value="value">SHARE</button> -->
							<button type="submit" class="btn btn-info">
								<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
								<p style="margin-bottom: 0px; display: inline-block;">Share</p>
							</button>
						</form>
					</td>
					<td width="5%" th:unless="${!project.members.contains(credentials.user)}">
						<form method="POST"
							th:action="@{/projects/{projectId}/{userId}/unshared(projectId=${project.id}, userId=${credentials.user.id})}">
							<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-share" aria-hidden="true"></span>
								<p style="margin-bottom: 0px; display: inline-block;">Unshare</p>
							</button>
						</form>
					</td>
			</tbody>
		</table>
	</div>
</body>
</html>