<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	margin: 50px;
}

p {
	font-size: 25px;
}
	</style>
<title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li>Home</li>
	</ul>
	<h1 th:text="'Welcome, ' + ${user.firstName} + '!'"></h1>
	<p>
		<a href="/projects">My Projects</a>
	</p>
	<p>
		<a href="/sharedWithMe">Shared with me</a>
	</p>
	<p>
		<a href="/projects/add">Create new Project</a>
	</p>
	<p>
		<a href="/users/me">Profile</a>
	</p>
	<p>
		<a href="/logout">Logout</a>
	</p>
</body>
</html>