<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
body{
  margin: 50px;
}
</style><title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li>Visible Projects</li>
	</ul>
	<h1>Projects shared with me</h1>
	<div>	<table class="table table-striped" width="80%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${sharedProjectsList}">
					<td width="45%"><a th:href="'/projects/' + ${project.id}"
						th:text="${project.name}"
						style="font-size: 25px; font-stretch: ultra-expanded;">...</a></td>
					<td th:text="${project.description}" width="55%"
						style="font-size: 25px">...</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>