<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	margin: 50px;
}

#inline {
	display: inline-block;
}
</style>
<title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li th:if="${loggedUser==project.owner}"><a href="/projects">My
				Projects</a></li>
		<li th:if="${loggedUser!=project.owner}"><a href="/sharedWithMe">Visible
				Projects</a></li>
		<li th:text="'Project ' + ${project.name}"></li>
	</ul>
	<br>
	<div id="inline">
		<a th:href="'/projects/' + ${project.id} + '/edit'"
			class="btn btn-info">EDIT <span class="glyphicon glyphicon-edit"
			aria-hidden="true"></span></a>
	</div>
	<div th:if="${loggedUser==project.owner}" id="inline">
		<a th:href="'/projects/' + ${project.id} + '/tag/add'"
			class="btn btn-info">ADD TAG <span
			class="glyphicon glyphicon-tags" aria-hidden="true"></span></a>
	</div>
	<br>
	<h1 th:text="${project.name}" class="text-uppercase"
		style="font-weight: bolder; margin-right: 10px;" id="inline"></h1>
	<h3 th:each="tag : ${tags}" id="inline">
		<a href="#" data-toggle="popover" title="Descrizione"
			data-trigger="hover" th:data-content="${tag.description}"> <span
			class="label label-default" th:text="${tag.name}"
			th:style="'background: ' + ${tag.color} + '; color:white; width:10px'"></span></a>
	</h3>
	<p class="text-muted" th:text="${project.description}"></p>
	<script>
		$(document).ready(function() {
			$('[data-toggle="popover"]').popover();
		});
	</script>
	<br>
	<br>
	<div th:if="${members.size() > 0}">
		<h3 id="inline">Shared with</h3>
		<div id="inline" style="margin-bottom: 10px;"><a class="btn btn-info"
			th:href="'/projects/' + ${project.id} + '/users/'">SHARE <span
			class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
			</div>
		<ul class="list-group">
			<li class="list-group-item" th:each="member : ${members}">
				<div th:text="${member.firstName} + ' ' + ${member.lastName}"></div>
			</li>
		</ul>
	</div>
	<br>
	<br>
	<h3 id="inline">Tasks</h3>
	<div id="inline">
		<a th:href="'/projects/' + ${project.id} + '/addTask'"
			class="btn btn-info">ADD TASK <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></a>
	</div>
	<div>
		<table class="table table-striped" width="80%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${project.tasks}">
					<td width="30%"><a
						th:href="'/projects/' + ${project.id} + '/task/' + ${task.id}"
						th:text="${task.name}"
						style="font-size: 25px; font-stretch: ultra-expanded;">...</a></td>
					<td th:text="${task.description}" width="55%"
						style="font-size: 25px">...</td>
					<td width="5%"><a class="btn btn-info"
						th:href="'/projects/' + ${project.id} + '/task/' + ${task.id} + '/users'">SHARE
							<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
					</a></td>
					<td width="10%"><form method="POST"
							th:action="@{/projects/{projectId}/{taskId}/delete(projectId=${project.id}, taskId=${task.id})}">
							<button type="submit" class="btn btn-info">
								DELETE <span class="glyphicon glyphicon-trash"
									aria-hidden="true"></span>
							</button>
						</form></td>


				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>