<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
body{
  margin: 50px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div { 
  width: 60%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style><title>TaskManager</title>
</head>
<body>
<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li th:if="${loggedUser==project.owner}"><a href="/projects">My Projects</a></li>
		<li><a th:href="'/projects/' + ${project.id}" th:text="'Project ' + ${project.name}"></a></li>
		<li th:if="${loggedUser!=project.owner}"><a href="/sharedWithMe">Visible Projects</a></li>
		<li><a th:href="'/projects/' + ${project.id} + '/task/' + ${taskUpdateForm.id}" th:text="'Task ' + ${taskUpdateForm.name}"></a></li>
		<li>Edit Task</li>
	</ul>
	<h1>Update Task</h1>
	<div>
	<form id="updateTaskForm"
		th:action="@{/projects/{projectId}/task/{taskId}/edit(projectId=${project.id}, taskId=${taskUpdateForm.id})}"
		th:object="${taskUpdateForm}" method="POST">
		<label for="taskNameInput">Task Name *</label> <br><input id=taskNameInput type="text" placeholder="NAME"
					 required th:field="*{name}" />
			<br>
	    <label for="descriptionInput">Description</label><br> <input id=descriptionInput type="text"
					placeholder="DESCRIPTION" th:field="*{description}" />
			<br><br>
		<button type="submit" class="btn btn-info">SAVE <span
			class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>

		
	</form>
	</div>
</body>
</html>