<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	margin: 50px;
}

td {
	font-size: 25px;
}
</style>
<title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li>Profile</li>
	</ul>
	<h1 style="display: inline-block;">Your profile</h1>
	<a style="margin-left: 20px; margin-bottom: 11px;" class="btn btn-info" href="/users/me/update">EDIT 
	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
	<table style="margin-left: 5px;" width="50%">
		<tr>
			<td>Username</td>
			<td th:text="${credentials.username}">...</td>
		</tr>
		<tr>
			<td>First Name</td>
			<td th:text="${loggedUser.firstName}">...</td>
		</tr>
		<tr>
			<td>Last Name</td>
			<td th:text="${loggedUser.lastName}">...</td>
		</tr>
		<tr>
			<td>Role</td>
			<td th:text="${credentials.role}">...</td>
		</tr>
		<tr>
			<td>Registered at</td>
			<td th:text="${loggedUser.creationTimeStamp}">...</td>
		</tr>
		<tr>
			<td>Last Update at</td>
			<td th:text="${loggedUser.lastUpdateTimeStamp}">...</td>
		</tr>
	</table>
</body>
</html>